@tailwind base;
@tailwind components;
@tailwind utilities;

table,
th,
td {
    border: .0625rem solid black;
    border-collapse: collapse;
    text-align: center;
}

input[type="number"] {
    width: 1.875rem;
    display: block;
    outline: .0625rem solid rgb(83, 82, 82);
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: center;

}

input[type="number"]:focus {
    outline: 2px solid rgb(42, 37, 37);

}
